@model StartActivity
@{
    ViewData["Title"] = "بدء النشاط";
}


    <div class="offcanvas-body flex-grow-0 mx-0">

        @if (TempData["successData1"] != null)
        {
            <h3 style="color:brown">
                @TempData["successData1"]
            </h3>
        }
        @if (TempData["Error3"] != null)
        {
            <h3 style="color:red">
                @TempData["Error3"]
            </h3>
        }

        <table>
            <tbody>
                <tr>
                    <td class="p-2 px-5">
                    </td>
                    <td class="p-2 px-5">
                    </td>
                    <td class="p-2 px-2">
                    </td>
                    <td class="p-10 px-2">

                        <button   class="btn btn-primary" style="width:150px" type="button">
            الغرض

        </button>
                    </td>

                    <td class="p-10 px-2">

                        <button class="btn btn-light " style="width:150px" disabled type="submit">الوصف</button>

                    </td>
                    <td class="p-10 px-2">
                        <button class="btn btn-light " style="width:150px" disabled type="submit">النتيجه</button>

                    </td>
                </tr>
                    </tbody>
                    </table>

       
     
    </div>


    <form method="post" asp-controller="StartActivity" asp-action="AddPurpose">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="offcanvas-body flex-grow-0 mx-0">
                        
        <input asp-for="id_SProcess" value="@TempData["Process2"]" readonly hidden/>

        @if(TempData["found2"] is not null)
        {
            <textarea asp-for="Purpose" value="@Model.Purpose" readonly class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        }
        else
        {
            <textarea asp-for="Purpose" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        }



</div>

    <table>
        <tbody>
            <tr>
                <td class="p-2 px-5">
                </td>
                <td class="p-2 px-5">
                </td>
                <td class="p-2 px-5">
                </td>

                <td class="p-10 px-2">
                    
                    @if(TempData["found2"] is not null){
                        
                        <a asp-controller="StartActivity" asp-action="AddDescription"
                        asp-route-Id_SProcess="@TempData["Process2"]" style="width:150px"
                        class="dt-button add-new btn btn-primary" >
                        <i class="d-none d-lg-inline-block"></i> التالي
                        </a>
                    }
                    else
                    {
                        
                        <button type="submit" style="width:150px" class="dt-button add-new btn btn-primary" >
                        <i class="d-none d-lg-inline-block"></i> حفظ
                        </button>
                    }
                    
                </td>

                <td class="p-10 px-2">

                    <button style="width:150px" type="reset"
                            class="dt-button add-new btn btn-light">
                        <i class="d-none d-lg-inline-block">إلغاء</i>
                    </button>

                </td>
            </tr>



        </tbody>
    </table>


</form>